<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.example.IMUControl">
    <application xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/MWAppTheme">
        <activity android:label="@string/app_name" android:name="IMUControl" android:theme="@style/MWAppTheme.NoActionBar" android:configChanges="orientation|screenSize" android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.rosupport.START_MODEL_IMU"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".MainActivity"
            android:theme="@style/MWmainAppTheme" android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".MWNodeMainExecutorService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
</manifest>